.banner-slogan {
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.title-section {
    font-size: 30px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: normal;
}
.card,
.text-sm {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
}

.text-md {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.text-xs {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.author-blockquote {
    line-height: 1.5;
}

.title-widget {
    line-height: 1.71;
}
.subtitle-section {
    font-weight: 600;
}

.lh-widget {
    line-height: 2;
}

.title-rewiews {
    line-height: 1.8;
}
.title-review-item {
    font-weight: 600;
}
.title-sidebar-item {
    font-weight: 600;
}
