body {
    font: 16px $font-family-sans-serif;
}

.banner-slogan {
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    @include respond-to($lg) {
        font-size: 36px;
    }
}

.title-section {
    font-size: 22px;
    @include respond-to($sm) {
        font-size: 30px;
    }

}

.card-title {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: normal;
}

.text {
    &-xs {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
    }
    &-sm {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: normal;
    }

    &-md {
        font-size: 17px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        @include respond-to($sm) {
            font-size: 20px;
        }
    }
    &-lg {
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
    }
    &-xl {
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
    }
    &-weight-md {
        font-weight: 600;
    }

}
