.wrap {
    overflow: hidden;
    padding-top: 70px;
    @include respond-to($md) {
        padding-top: 110px;
    }
    @include respond-to($lg){
        padding-top: 152px;
    }
}
.content-box {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
}

