/*
* Grid
*/

$container-max-widths: (
        xl: 1240px
);

/*
* Breakpoints
*/

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1240px
);


$xs: '(max-width: 0px)';
$sm: '(min-width: 576px)';
$md: '(min-width: 768px)';
$lg: '(min-width: 992px)';
$xl: '(min-width: 1240px)';

/*
* Colors
*/

$primary: #00adef;
$success: #8cc63f;
$secondary:#7d7d7d;
$danger: #dd3a4d;
$dark: #252525;
$white: #ffffff;
$gray-100:#e6e9ed;
$gray-200: #f3f2f2;
$gray-300: #d7d7d7;
$gray-400: #ebebeb;
$gray-500: #c7c7c7;
$gray-600:#8e8e8e;
$gray-700: #717171;
$gray-800: #8f8e8e;
$gray-900: #555555;

/*
*input
*/
$input-line-height: 1;
$input-border-radius: 0;
$input-padding-y: 3px;
$input-padding-x: 14px;
$input-height: calc(1.6rem + 2px);

$input-border-color: $gray-100;
$form-group-margin-bottom: 15px;
$form-check-inline-input-margin-x: 13px;
$form-check-inline-margin-x: 30px;

/*
* Btn
*/

$border-radius: 10px;
$border-radius-lg: 10px;
$border-radius-md: 10px;
$border-radius-sm: 10px;
$btn-font-weight: 600;
$btn-padding-y-lg: 10px;
$btn-padding-x-lg: 46px;

/*
* Card
*/
$card-border-width: 0;
$card-border-radius: 0;
$card-spacer-y: 31px;

// stylelint-disable
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: ($spacer * 1.5),
        4: ($spacer * 2),
        5: ($spacer * 3)
), $spacers);
 /*
* fonts
*/
$font-family-sans-serif: 'Open Sans', sans-serif;

/*
* blockquote
*/
$blockquote-font-size: 14px;




