.btn {
    text-transform: uppercase;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.28);
    padding: 8px 19px 6px 18px;
    &-burger,
    &-close {
        background: transparent;
        box-shadow: none;
        color: $gray-600;
    }
    &-upload,
    &-take-photo {
        background-color: $gray-200;
        color: $gray-700;
    }
}
