.btn {
    text-transform: uppercase;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.28);
    padding: 8px 19px 6px 18px;
    &-banner {
        padding: 10px 46px;
        font-size: 20px;
    }
    //.contact-btn {
    //    padding: 7px 181px;
    //}
}