.header {
    //position: fixed;
    //left: 0;
    //top: 0;
    //right: 0;
    background: $white;
    padding: 25px 0 18px;
    z-index: 1000;
    .container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .title {
        flex-shrink: 0;
    }
    .logo-link {
        display: inline-block;
        vertical-align: middle;
        max-width: 104px;
        height: 61px;
        @include respond-to($lg) {
            max-width: 144px;
            height: 101px;
        }
    }
    .logo-site {
        display: block;
        width: 100%;
        height: auto;
    }
    .menu-header {
        width: 100%;
        max-width: 463px;
    }
    .btn-burger {
        @include respond-to($sm) {
            order: 3;
        }
        @include respond-to($lg) {
            display: none;
        }
    }
    .fa {
        font: normal normal normal 20px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .right-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include respond-to($sm) {
            justify-content: flex-end;
            flex-wrap: nowrap;
        }
        .btn {
            margin-bottom: 10px;
            @include respond-to($sm) {
                margin: 0 0 0 27px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

