.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: $white;
    padding: 5px 0;
    z-index: 1000;
    @include respond-to($md) {
        padding: 25px 0 18px;
    }
    .container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .logo-wrap {
        flex-shrink: 0;
    }
    .logo-link {
        display: inline-block;
        vertical-align: middle;
        max-width: 64px;
        height: auto;
        @include respond-to($sm) {
            min-width: 104px;
            height: 61px;
        }
        @include respond-to($lg) {
            max-width: 144px;
            height: 101px;
        }
    }
    .logo-site {
        display: block;
        width: 100%;
        height: auto;
    }
    .menu-header {
        width: 100%;
        max-width: 463px;
    }
    .btn-burger {
        @include respond-to($lg) {
            display: none;
        }
    }
    .fa {
        font: normal normal normal 20px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .right-bar {
        display: flex;
        align-items: center;
        .btn {
            font-size: 12px;
            margin-left: 10px;
            &:last-child{
                margin-left: 0;
            }
            @include respond-to($sm) {
                font-size: 16px;
                margin: 0 0 0 27px;
            }
        }
    }
}

