@import '../components/home/banner';
@import '../components/home/service';
@import '../components/home/works';
@import '../components/home/testimonials';

.title-section {
    text-align: center;
    color: $primary;
}

.wrap-btn-width {
    width: 74%;
    @include respond-to($sm) {
        width: 70%;
    }
    @include respond-to($md) {
        width: 52%;
    }
    @include respond-to($lg) {
        width: 39%;
    }
    @include respond-to($xl) {
        width: 32.5%;
    }
    .btn-aside {
        font-size: 16px;
        @include respond-to($sm) {
            font-size: 20px;
        }
    }
}

.cleaner {
    background: $primary;
    padding: 50px 0 37px;
    color: $white;
    .container {
        text-align: center;
    }
    .text-aside {
        width: 100%;
        max-width: 956px;
        margin: 0 auto 32px;
    }
    .wrap-btn {
        margin: 0 auto;
    }

}

.aside-jobs {
    background: $primary;
    padding: 34px 0;
    .container {
        text-align: center;
        @include respond-to($lg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        p {
            margin-bottom: 15px;
            @include respond-to($lg) {
                margin: 0 0 0 48px;
            }
        }
    }
    .wrap-btn-width {
        margin: 0 auto;
        @include respond-to($lg) {
            margin: 0 75px 0 0;
        }
    }
}
