.section-customer-reviews {
    background: $gray-200;
    padding: 32px 0 41px;
    .content-box {
        width: 100%;
        max-width: 812px;
        margin: 0 auto;
    }
    .heading-reviews {
        background: $white;
        display: flex;
        align-items: center;
        padding: 25px 30px 23px;
        margin-bottom: 30px;
        -ms-text-align-last: right;
        text-align: left;
    }
    .subtitle-section {
        font-weight: 600;
        margin-bottom: 4px;
    }
    .start-work {
        color: $gray-600;
    }
    .name-member {
        text-align: left;
    }
    img {
        display: block;
        max-width: 80px;
        height: auto;
        width: 100%;
        margin-right: 23px;
    }

    .about-me {
        background: $white;
        display: flex;
        margin-bottom: 30px;
    }
    .myself {
        width: 100%;
        max-width: 605px;
        padding: 23px 30px;
    }
    .sidebar {
        width: 100%;
        max-width: 207px;
        padding: 34px 30px;
        font-weight: 600;
        p {
            color: $gray-600;
            margin: 0;
        }
    }
    .title-rewiews {
        color: $primary;
        margin-bottom: 8px;
    }
    .title-sidebar-item {
        margin: 0;
    }
    .feature-item {
        margin-bottom: 21px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .rate {
        margin-bottom: 28px;
    }
    .text-about-me {
        margin-bottom: 38px;
    }

    .bg-white {
        background: $white;
        padding: 32px 28px;
        margin-bottom: 30px;
        text-align: center;
    }
    .wrap-btn {
        width: 54%;
        margin: 0 auto;
    }

    .reviews {
        background: $white;
        padding: 16px 30px 0;
    }
    .review-item {
        display: flex;
        flex-wrap: wrap;
        border-top: solid 0.5px $gray-300;
        padding: 20px 0 8px;
    }
    .title-review-item {
        color: $primary;
    }
    .text-review {
        color: $dark;
        margin-bottom: 8px;
    }
    .author,
    .date {
        color: $gray-600;
    }
    .rating-bar {
        width: 40%;
        max-width: 352px;
        text-align: right;
    }
    .content-text {
        width: 60%;
        max-width: 460px;
    }
}
//============rating==================
.ratingHolder {
    width: 80px;
    position: relative;
    .passiveRatingHolder {
        position: relative;
        width: 80px;
        height: 14px;
        display: block;
        > div {
            position: absolute;
            left: 0;
            top: 0;
            height: 14px;
            background-image: url(../../img/star.svg);
            background-repeat: no-repeat;
            background-size: 80px;
        }
        .ratingBg {
            background-position: 0 0;
            width: 80px;
            z-index: 1;
        }
        .ratingMask {
            background-position: 0 -37px;
            z-index: 99;
        }
    }
    .userRatingHolder {
        opacity: 0;
        transition: .1s;
    }
    &:hover .userRatingHolder,
    .ratingHolder.voted .userRatingHolder {
        opacity: 1;
        transition: .1s;
    }
    .userRating {
        position: absolute;
        top: -10px;
        left: 0;
        padding: 10px 16px;
        cursor: pointer;
        z-index: 9999;
        background-color: #ffffff;
        border-radius: 5px;
        width: 80px;
        height: 14px;
    }
    .vote {
        transition: .2s;
        position: absolute;
        top: 0;
        left: 0;
               cursor: pointer;
        z-index: 99999;
        width: 14px;
        height: 14px;
        background-image: url("../../img/star.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 80px;
        &:hover,
        .ratingHolder.voted .vote.active {
            transition: .2s;
            background-position: 0 38px;
        }
        &:hover ~ .vote,
        .vote.active ~ .vote {
            transition: .2s;
            background-position: 5px -17px;
        }
    }
    .votingHolder {
        direction: rtl;
        position: relative
    }

    .vote.onestar {
        left: 80%;
    }
    .vote.twostar {
        left: 60%;
    }
    .vote.threestar {
        left: 40%;
    }
    .vote.fourstar {
        left: 20%;
    }
    .vote.fivestar {
        left: 0;
    }
}

.ratingHolder.voted .vote {
    pointer-events: none;
}
.ratingHolder.voted .vote:hover {background-position: 0 0;}
.ratingHolder.voted .vote.active ~ .vote {background-position: 0 -37px;}
.ratingHolder.voted .vote.active:hover {background-position: 0 -81px;}
