.section-customer-reviews {
    background: $gray-200;
    padding: 32px 0 41px;
    .heading-reviews {
        background: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 30px 15px;
        margin-bottom: 30px;
        text-align: center;
        @include respond-to($sm) {
            flex-direction: row;
            text-align: left;
        }
    }
    .subtitle-section {
        font-weight: 600;
        margin-bottom: 4px;
    }
    .start-work {
        color: $gray-600;
    }
    .name-member {
        text-align: center;
        @include respond-to($sm) {
            text-align: left;
        }
    }
    .wrap-img-member {
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
        @include respond-to($sm) {
            width: 80px;
            height: 80px;
            margin-right: 23px;
        }
    }
    .about-me {
        background: $white;
        display: flex;
        margin-bottom: 30px;
    }
    .myself {
        width: 100%;
        max-width: 605px;
        padding: 14px 30px 8px;
        text-align: center;
        @include respond-to($sm) {
            text-align: left;
            padding: 14px 30px 20px;
        }
    }
    .marks-list {
        width: 100%;
        max-width: 407px;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;
        @include respond-to($sm) {
            justify-content: flex-start;
            margin: 0;
        }
    }
    .mark-item {
        text-align: center;
        margin: 0 0 20px 0;
        flex-grow: 1;
        flex-basis: 88px;
        @include respond-to($sm) {
            flex-grow: 0;
            flex-basis: auto;
            margin: 0 20px 0 0;
        }
    }

    .wrap-img-mark {
        width: 60px;
        height: 60px;
        margin: 0 auto 10px;
    }

    img {
        display: block;
        vertical-align: middle;
        width: 100%;
    }

    .sidebar {
        width: 100%;
        //max-width: 207px;
        padding: 10px 30px 34px;
        font-weight: 600;
        margin: 0 auto;
        text-align: center;
        @include respond-to($sm) {
            text-align: left;
            padding-top: 27px;
        }
        p {
            color: $gray-600;
            margin: 0;
        }
    }

    .heading {
        position: relative;
        svg {
            position: absolute;
            right: 0;
            top: 8px;
            @include respond-to($sm) {
                top: 14px;
            }
            @include respond-to($lg) {
                top: 17px;
            }
        }
    }

    .title-rewiews {
        color: $primary;
        margin-bottom: 8px;
    }

    .title-sidebar-item {
        margin: 0;
    }
    .features-list {
        @include respond-to($sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @include respond-to($md) {
            display: block;
        }
    }

    .feature-item {
        margin-bottom: 21px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .rate {
        margin-bottom: 28px;
    }

    .text-about-me {
        margin-bottom: 38px;
    }

    .bg-white {
        background: $white;
        padding: 32px 28px;
        margin-bottom: 30px;
        text-align: center;
    }

    .wrap-btn {
        width: 54%;
        margin: 0 auto;
    }

    .reviews {
        background: $white;
        padding: 16px 30px 0;
    }

    .title-reviews {
        line-height: 1.8;
    }

    .review-item {
        display: flex;
        flex-wrap: wrap;
        border-top: solid 0.5px $gray-300;
        padding: 20px 0 8px;
    }

    .title-review-item {
        color: $primary;
    }

    .text-review {
        color: $dark;
        margin-bottom: 8px;
    }

    .author,
    .date {
        color: $gray-600;
        clear: both;
    }

    .rating-bar {
        text-align: left;
        @include respond-to($sm) {
            text-align: right;
        }
        .rating-list {
            float: left;
            margin-bottom: 6px;
            @include respond-to($sm) {
                float: right;
            }
        }
        .rating-star {
            float: right;
            font-size: 15px;
            margin-left: 3px;
            color: $primary;
        }
    }
}

//============rating=================
.rating {
    border: none;
    max-width: 85px;
    height: 14px;
    margin: 0 auto;
    @include respond-to($sm) {
        margin: 0;
    }
    > input {
        display: none;
    }
    > label:before {
        margin: 0 3px 0 0;
        font-size: 15px;
        font-family: FontAwesome;
        display: block;
        content: "\f005";
    }
    > .half:before {
        content: "\f089";
        position: absolute;
    }
    > label {
        color: #f2f6fc;
        float: right;
    }
    > input:checked ~ label,
    &:not(:checked) > label:hover,
    &:not(:checked) > label:hover ~ label,
    > input:checked + label:hover,
    > input:checked ~ label:hover,
    > label:hover ~ input:checked ~ label,
    > input:checked ~ label:hover ~ label {
        color: $primary;
    }
}




