.section-testimonials {
    padding: 69px 0 64px;
    .title-section {
        margin-bottom: 44px;
    }
    .content-box {
        width: 100%;
        max-width: 834px;
        margin: 0 auto;
    }
    .card-testimonial {
         background: $gray-200;
         padding: 19px 22px;
     }
    .author-blockquote {
        line-height: 1.5;
        margin: 0;
    }
    .testimonial-item {
        margin-bottom: 30px;
    }
    .link-blockquote {
        display: block;
        color: inherit;
        text-decoration: none;
        transition: .35s;
        &:hover {
            color: $primary;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.5;
        }
    }
}